

services:
  web:
    build: .
    container_name: flask_app
    ports:
      - "1234:1234"
    environment:
      - APP_PORT=1234
      - POSTGRES_HOST=db
      - POSTGRES_DB=testdb
      - POSTGRES_USER=testuser
      - POSTGRES_PASSWORD=testpass
    depends_on:
      - db
    restart: always  # чтобы контейнер автоматически перезапускался

  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      - POSTGRES_DB=testdb
      - POSTGRES_USER=testuser
      - POSTGRES_PASSWORD=testpass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: